<section class="container content-section">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h2>Where to Stay</h2>
      <p>
        We have a special wedding block reserved at the Empress Hotel in La Jolla. The Empress is with walking distance from the venue, nestled in the heart of La Jolla.
      </p>
      <p>
        The listed price is for a standard double queen bed and includes taxes and fees. The hotel may have larger rooms available at an additional charge.
      </p>
      <p>
        Space is limited so please book as soon as possible. Please use the Group Promo code of <em>AYDGALLION2024</em> when you make your booking. If you have any trouble booking or need an alternative lodging accommodation, please reach out to Will or Alison.
      </p>
      <p>
        If you plan on staying longer, the Empress will offer an extension of the contracted rate up to 2 days prior and 2 days after the booking window. However, you first need to book the contracted Friday/Saturday nights first and then call the hotel directly with your confirmation number to request an extension.
      </p>
    </div>
  </div>
</section>

<div class="row text-center">
  <div class="col-lg-offset-2 col-lg-8">
    {% for hotel in site.hotels %}
    {% include hotel_thumbnail.html hotel=hotel %}
    {% endfor %}
  </div>
</div>

<section class="container content-section">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h2>Getting Here</h2>
      <p>
        For those that need to fly, San Diego International Airport is the best airport to fly into. If you are coming from Maryland, Southwest offers multiple direct flights from BWI to SAN on a daily basis.
      </p>
      <p>
        Upon arrival at San Diego, your best option for local travel will be Uber/Lyft. La Jolla is about a 20 minute car ride away from the airport, and once you are in La Jolla most things are walkable. Even if you decide to check out some of the other beaches around San Diego, most are an easy Uber/Lyft away.
      </p>
      <p>
        If you plan on staying longer or want to do more exploring, then a rental car is your best bet. San Diego does have some limited public transportation options, but generally the city and surrounding county is very spread out, and public transportation can only take you to a few of the places you may want to see.
      </p>
      <p>
        For international travelers, you may find it cheaper to fly into Los Angeles (LAX). To get a rental car and drive from Los Angeles down to San Diego would take roughly 2 hours, barring any major traffic jams. If a rental car is not your thing, then you could take a shuttle from LAX to Union Station, and from there catch the <a href="https://www.amtrak.com/pacific-surfliner-train">Pacific Surfliner</a> down to San Diego.
      </p>
    </div>
  </div>
</section>
